NEXT_PUBLIC_API_URL = https://stagingadmin.iqbusiness.net
#NEXT_PUBLIC_API_URL = http://34.194.23.93:1337/
#NEXT_PUBLIC_API_URL = https://iqbusiness-backend.onrender.com/
NEXT_PUBLIC_API_TOKEN = c08cc38b9a4973ba023bd41b81d9c90d4ede7fbe5af4530f2e11224e2eb59c78b0e60633291c6901d344e5a877205133b072a7d74371accc09dfce70a8ae1bba201d049d2331ea59054d71b18a138d418544bc198504c5699cca6031b06ff9db666c8371c478347bb48cb743bc2a3b4f6e8ba08c861d6a92d95acfb9267a5f00
NEXT_PUBLIC_SMTP_HOST = "smtp.office365.com"
NEXT_PUBLIC_SMTP_PORT = 587
NEXT_PUBLIC_SMTP_USER = "activecollab@plusonex.com"
NEXT_PUBLIC_SMTP_USRE_PW = "IqX@2024"
NEXT_PUBLIC_SITE_ADMIN_EMAIL = "drana@plusonex.com"
NEXT_PUBLIC_SIMPLIFY_HR_JOBS_URL = "https://api.simplify.hr/v1/Vacancies/LiveVacancies?page=1"
NEXT_PUBLIC_SIMPLIFY_HR_SINGLE_JOB_URL = "https://api.simplify.hr/v1/Vacancies/"
NEXT_PUBLIC_AUTHORIZATION_SIMPLIFY_HR_TOKEN = 522ba4b5-dfbd-4821-a43a-4952310c0e89
NEXT_PUBLIC_ARLO_USERNAME = "agility@iqbusiness.net"
NEXT_PUBLIC_ARLO_PASSWORD = "agility@IQbusiness!"
NEXT_PUBLIC_ARLO_EVENTS_URL = "https://iqbusiness.arlo.co/api/2012-02-01/pub/resources/eventsearch/"
NODE_ENV = development